/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

body {
  margin: 0;
}

mat-toolbar .fill-remaining-space {
  flex: 1 1 auto;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
